<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if code %}{{ code.code}} - {{ code.title }} | {% endif %}{{ title }}</title>
    <link rel="canonical" href="https://httpstatus.jloh.co{{ page.url }}" />
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {% include 'meta.njk' %}
  </head>
  <body class="Site">
  {% include 'nav.njk' %}
  <section class="section Site-content">
    <div class="container">
      {{ content | safe }}
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="columns is-gapless is-mobile mb-0">
        <div class="column is-pulled-left">Made with &#10084; by <a href="https://jloh.co">jloh</a></div>
        <div class="column is-pulled-right has-text-right">Built with <a href="https://www.11ty.io/" title="Eleventy static site generator">Eleventy</a>, <a href="https://bulma.io/" title="Bulma: A modern CSS framework">Bulma</a> and <a href="https://www.netlify.com/" title="Netlify">Netlify</a></div>
      </div>
    </div>
  </footer>
  {% include 'js.njk' -%}
  </body>
</html>
