<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if code %}{{ code.code}} - {{ code.title }} | {% endif %}{{ title }}</title>
    <link rel="canonical" href="https://httpcodes.fyi{{ page.url }}" />
    <link rel="stylesheet" href="/css/main.css">
    {% include 'meta.njk' %}
  </head>
  <body class="flex min-h-screen flex-col">
  {% include 'nav.njk' %}
  <section class="text-gray-800 flex-1">
    {{ content | safe }}
  </section>
  <footer class="py-10 bg-gray-100 font-light">
    <div class="w-full md:max-w-4xl xl:max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-2 px-4 md:px-0">
      <div class="">Made with heart by <a class="text-blue-600 hover:text-blue-400" href="https://jloh.co">jloh</a></div>
      <div class="md:text-right">Built with <a class="text-blue-600 hover:text-blue-400" href="https://www.11ty.io/" title="Eleventy static site generator">Eleventy</a>, <a class="text-blue-600 hover:text-blue-400" href="https://tailwindcss.com/" title="Bulma: A modern CSS framework">Tailwind</a> and <a class="text-blue-600 hover:text-blue-400" href="https://www.netlify.com/" title="Netlify">Netlify</a></div>
    </div>
  </footer>
  {% include 'js.njk' %}
  <script async defer src="https://sa.httpcodes.fyi/app.js"></script>
  <noscript><img src="https://sa.httpcodes.fyi/image.gif" alt=""></noscript>
  </body>
</html>
