---
layout: base
title: HTTP Status Codes
templateEngineOverride: njk
---

<div class="py-8">
  <div class="container md:max-w-4xl px-4 lg:px-0">
    <h1 class="font-bold text-3xl">Code {{ code.code }}</h1>
    <p class="font-normal text-2xl text-gray-600">{{ code.title }}{% if code.tag %}</a> <span class="bg-gray-200 rounded p-1 text-gray-800 font-light text-lg">{{ code.tag }}{% endif %}{% if code.rfc %} - <a href="{{ code.rfc.link }}" target="_blank" class="text-blue-600 hover:text-blue-400">{{ code.rfc.number }}</a>{% endif %}</p>
  </div>
</div>

<div class="flex">
  <div class="container md:max-w-4xl">
    <div class="text-xl font-light border-0 content px-4 lg:px-0">
      {{ content | safe }}
    </div>
    {% if code.diagram %}
    <div class="mermaid my-4">
      {{ code.diagram }}
    </div>
    {% endif %}
    {% if code.refs %}
    <div class="text-xl font-light border-0 px-4 mt-4 lg:px-0">
      <h3 class="font-normal">References</h3>
      <ul class="list-inside list-disc pl-3">
        {% for ref in code.refs %}
          <li><a class="text-blue-600 hover:text-blue-400" href="{{ ref }}">{{ ref }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <hr class="my-6">
    <nav class="my-6" aria-label="breadcrumbs">
      <ol class="list-reset flex text-lg text-grey-dark justify-center">
        <li class="text-blue-600 hover:text-blue-400"><a href="/">Home</a></li>
        <li><span class="mx-2">/</span></li>
        <li class="text-blue-600 hover:text-blue-400"><a href="/#{{ code.group }}">{{ code.group }}</a></li>
        <li><span class="mx-2">/</span></li>
        <li class="is-active"><a href="#" aria-current="page">Code {{ code.code }}</a></li>
      </ol>
    </nav>
  </div>
</div>
