<script src="/js/main.js"></script>
<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
    var config = {
        startOnLoad:true,
        sequence:{
            useMaxWidth:false,
            htmlLabels:true
        }
    };
    mermaid.initialize(config);
</script>
