<meta property="og:site_name" content="HTTP Status Codes" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{% if code %}Status code {{ code.code}} - {{ code.title }}{% endif %}" />
    {# <meta property="og:description" content="" /> #}
    <meta property="og:url" content="https://httpcodes.fyi{{ page.url }}" />
{%- if code %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "DefinedTerm",
        "name": "HTTP Status Code {{ code.code }}",
        "termCode": "{{ code.code }}",
        "description": "{{ code.description }}",
        "inDefinedTermSet": "https://httpcodes.fyi/"
      }
    </script>
{% endif -%}
