<nav class="navbar has-shadow {% if code.nav %}is-{{ code.nav }}{% endif %}" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-dark has-text-weight-bold is-size-4" href="/">
        HTTP Status Codes
      </a>
      <div class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="topmenu-nav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="topmenu-nav" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          20x
        </a>
        <a class="navbar-item">
          30x
        </a>
        <a class="navbar-item">
          40x
        </a>
        <a class="navbar-item">
          50x
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a class="button is-danger" href="#">
                <span>Add to Slack</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
