<nav class="navbar has-shadow {% if code.nav %}is-{{ code.nav }}{% endif %}" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-grey-dark has-text-weight-bold is-size-4" href="/">
        HTTP Status Codes
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          20x
        </a>
        <a class="navbar-item">
          30x
        </a>
        <a class="navbar-item">
          40x
        </a>
        <a class="navbar-item">
          50x
        </a>
      </div>
    </div>
  </div>
</nav>
