{{ define "main" }}
<div class="py-8">
  <div class="container md:max-w-4xl px-4 lg:px-0">
    <h1 class="font-bold text-3xl">{{ .Title }}</h1>
  </div>
</div>

<div class="flex">
  <div class="container md:max-w-4xl">
    <div class="text-xl font-normal border-0 content px-4 lg:px-0">
      {{ .Content }}
    </div>
    <hr class="my-6">
    <nav class="mt-6" aria-label="breadcrumbs">
      <ol class="list-reset flex text-lg text-grey-dark justify-center" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="text-blue-600 hover:text-blue-400" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">
            <span itemprop="name">HTTP Codes</span>
          </a>
          <meta itemprop="position" content="1" />
        </li>
        <li><span class="mx-2">/</span></li>
        <li>{{ .Title }}</li>
      </ol>
    </nav>
  </div>
</div>
{{ end }}
