<nav id="header" class="w-full z-10 top-0 border-b">
  <div class="w-full md:max-w-4xl xl:max-w-6xl mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
    <div class="w-full flex-grow px-4 lg:px-0 md:flex md:w-auto mt-2 md:mt-0 z-20 text-center lg:text-left">
      <a class="font-bold text-gray-800 text-xl lg:text-left lg:text-2xl"  title="Home" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
    </div>
    <div class="w-full flex-grow px-4 md:flex md:w-auto mt-2 md:mt-0 z-20" id="nav-content">
      <ul class="list-reset flex justify-center md:justify-end items-center flex-1 text-lg">
        <li>
          <a class="inline-block bg-gray-900 hover:bg-gray-700 text-white font-semibold py-1 px-1 md:p-2  rounded" href="https://github.com/jloh/http-status" target="_blank" rel="noopener">Edit on GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
