.mermaid svg {
  /* Add some padding above our main text */
  padding-bottom: 2rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* References list */
.ref-list {
  word-break: break-all;
}

/* Make footer less big */
.footer {
  padding: 3rem 1.5rem 3rem;
}

/* Sticky footer */
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
