---
layout: code-2
pagination:
  data: codes
  size: 1
  alias: code
permalink: "{{ code.code }}/index.html"
title: HTTP Status Codes
templateEngineOverride: njk, md
---

{{ code.description | safe }}
