---
title: HTTP Status Codes
layout: base
---

<div class="columns is-centered is-gapless">
  <div class="column is-8">
    <div class="content is-medium">
      <h1 class="title">
        {{ title }}
      </h1>
      {% for group,c in codes | groupby("group")%}
        <h2 class="title">{{ group }}</h2>
        <ul>
        {% for status in c %}
          <li><a href="/{{ status.code }}">{{ status.code }}</a> - {{ status.title }}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
