---
title: HTTP Status Codes
layout: base
---

<div class="columns is-centered is-gapless">
  <div class="column is-8">
    <div class="content">
      {% for group,c in codes | groupby("group")%}
        <h2 class="title is-normal">{{ group }}</h2>
        <ul class="is-size-5">
        {% for status in c %}
          <li><a href="/{{ status.code }}">{{ status.code }} {{ status.title }}{% if status.tag %}</a> <span class="tag is-light">{{ status.tag }}</span>{% endif %}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
